.github/
.vscode/**
.vscode-test/**
.gitignore
client/src/**
client/out/test/**
server/src/**
server/out/test/**
**/eslintignore
.eslintrc.json
**/tsconfig.json
**/tslint.json
**/*.map
**/*.ts
**/tsconfig.esm*
node_modules/**/README.md
node_modules/**/CHANGE.md
